<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" href="/css/search.css">
</head>

<body>
    <div id="navbar">
        <form action="/search" method="GET">
            <input required name="q" placeholder="Search" autocomplete="off">
            <button type="submit">Search</button>
        </form>
    </div>
    <div id="results">
        <% for(i=0; i < search.length; i++) { %>
        <div class="resultitem">
            <h1 class="searchtitle"><a href="<%= search[i].url %>"><%= search[i].title %></a></h1>
            <p class="searchurl"><a class="searchurl" href="<%= search[i].url %>"><%= search[i].url %></a></p>
            <p class="searchdescription"><%= search[i].description %></p>
        </div>
        <% } %>
    </div>
    <div id="footer">

    </div>
</body>

</html>